body{
    background-color: black;
}

p{
    @include font($main-color, 16px, $font-type);
}

header{

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20%;

    @include desktop{
    
    }
    }

    .logo{
        height: 150px;
        width: 150px;
    
}

select{
    background-color: #ffffff;
}

.articleimage{
    width:100%;
}

.article_section{
    display: flex;
    flex-wrap:wrap;
    width: 100%;
}

section{
    position: relative;
    height: 250px;
    width:100%;
    overflow: hidden;

    @include tablet{
        width: 33%;
    }

    @include desktop{
        width: 25%;
    }
}
.articleone{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.description{
    background-color:rgba(0, 0, 0, 0.596);
    position: absolute;
    bottom: 0;
    margin: 0;
    @include font($main-color, 12px, $font-type);
    font-weight: 100;
}

footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    p{
        @include font($footer-color, 16px, $font-type);
    }
}
