body{
    background-color: black;
}

// p{
//     @include font($main-color, 16px, $font-type);
// }

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    }

    .logo{
        height: 20px;
    }

}

select{
    background-color: #ffffff;
}


footer {
    display: flex;
    justify-content: center;

    // p{
    //     @include font($footer-color, 16px, $font-type);
    // }
}
