@mixin text($color, $size, $font-family){
    color: $color;
    font-size: $size;
    font-family: $font-type;
}

p{
    @include text($main-color, 16px, $font-type);
}

footer {
    p{
        @include text($footer-color, 16px, $font-type)
    }
}