@mixin tablet {
    @media (min-width: $tablet-width){
        @content;
    }
}

@mixin desktop {
    @media (min-width: $desktop-width){
        @content;
    } 
}

@mixin font($color, $size, $font-family){
    color: $color;
    font-size: $size;
    font-family: $font-type;
}

%article_box{
    color: black;
    opacity: 0.5;
}


